<%- include ('partials/header') %>

  <div class="jumbotron">
    <h1 class="display-4">Coffee Shop</h1>
    <a class="btn btn-primary btn-lg" href="/drinks/new" role="button">
      Add new drink </a>
    <a class="btn btn-primary btn-lg" href="/logout" role="button">
      Logout </a>
    <a class="btn btn-primary btn-lg" href="/add" role="button">
      Cart </a>
    <a class="btn btn-primary btn-lg" href="/history" role="button">
      History </a>

  </div>

  <div class="jumbotron-fluid">
    <div class="container-fluid">
      <form action="drinks" class="form-group lead" method="GET">
        <input name="search" type="text" placeholder="Enter title" />
        <label for="drinks">Choose a drink</label>

        <select name="category" class="form-group" id="category" onchange="searchCategory()">

          <option value="all">All</option>
          <option value="hot">Hot Coffee</option>
          <option value="cold">Cold Coffee</option>
          <option value="tea">Tea</option>
        </select>

        <button type="submit" class="btn btn-warning">Search</button>
      </form>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <% results.forEach(function(drink){ %>
        <div class="sm-col-3 shop-item" data-item-id="<%= drink._id %>">
          <img class="shop-item-image img-thumbnail" src="images/<%= drink.image %>" style="width:200px; height:200px;" />
         
          <div class="caption shop-item-title"><a href="drinks/<%= drink._id %>">
              <%= drink.type %>
            </a></div>
        </div>
        <% }); %>

    </div>
  </div>

  <%- include ('partials/footer') %>